name: Pre-commit

on:
  pull_request:
  push:
    branches: [main]



jobs:
  check-code:
    runs-on: ubuntu-24.04
    steps:
      # This action sets the current path to the root of your github repo
      - uses: actions/checkout@v6

      - name: Install pre-commit
        run: python3 -m pip install pre-commit

      - name: Run hooks
        run: pre-commit run --all
